<div class="container">
  <h2>User Settings</h2>
  <!-- <form #form="ngForm" ngNativeValidate> -->
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="row mb-3">
      <label for="name" class='col-sm-2'>Name:</label>
      <div class="col-sm-10">
        <input type="text" id="name" class="form-control" [class.error-field]='form.submitted && propertyTest.invalid'
          name="name" [(ngModel)]="userSettings.name" #classTest required #propertyTest='ngModel'
          (blur)='onBlur(propertyTest)'>
        <!-- <p>{{classTest.className }}</p>
        <h2>{{propertyTest.touched}}</h2>
        <h2>{{propertyTest.pristine}}</h2>
        <h2>{{propertyTest.valid}}</h2> -->
      </div>
      <!-- this message will appear when input fiel is invalid  -->
      <!-- <div [hidden]='propertyTest.valid || propertyTest.untouched' class='alert alert-danger'>Enter Avalid Name</div> -->
      <div [hidden]='!form.submitted || propertyTest.valid' class='alert alert-danger'>Enter Avalid Name</div>
    </div>

    <div class="form-check  mb-3">
      <input class="form-check-input" type="checkbox" value="" name='emailOffers' id="email-offers"
        [(ngModel)]="userSettings.emailOffers" required>
      <label class="form-check-label" for="email-offers">
        Email Offers
      </label>
    </div>
    <div class="mb-3">
      <p>select your type :</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="interfaceStyle1" value="light"
          [(ngModel)]="userSettings.interfaceStyle">
        <label class="form-check-label" for="interfaceStyle1">
          light
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="interfaceStyle2" value="medium"
          [(ngModel)]="userSettings.interfaceStyle">
        <label class="form-check-label" for="interfaceStyle2">
          Medium
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="interfaceStyle3" value="dark"
          [(ngModel)]="userSettings.interfaceStyle">
        <label class="form-check-label" for="interfaceStyle3">
          Dark
        </label>
      </div>
    </div>
    <select class="form-select form-group form-select-sm mb-3" aria-label=".form-select-lg example"
      name='subscriptionType' [(ngModel)]="userSettings.subscriptionType">
      <option selected>Subscription Type</option>
      <option value="1">Annual</option>
      <option value="2">Monthly</option>
      <option value="3">lifeTime</option>
    </select>
    <div class="mb-3">
      <label for="notes" class="form-label">Notes</label>
      <textarea class="form-control" id="notes" rows="3" name='notes' [(ngModel)]="userSettings.notes"></textarea>
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>
{{userSettings | json}}