<div class="container">
  <h2>User Settings</h2>
  <!-- <form #form="ngForm" ngNativeValidate> -->
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="row mb-3">
      <label for="name" class='col-sm-2'>Name:</label>
      <div class="col-sm-10">
        <input type="text" id="name" class="form-control" [class.error-field]='form.submitted && propertyTest.invalid'
          name="name" [(ngModel)]="userSettings.name" #classTest required #propertyTest='ngModel'
          (blur)='onBlur(propertyTest)'>
        <!-- <p>{{classTest.className }}</p>
        <h2>{{propertyTest.touched}}</h2>
        <h2>{{propertyTest.pristine}}</h2>
        <h2>{{propertyTest.valid}}</h2> -->
      </div>
      <!-- this message will appear when input fiel is invalid  -->
      <!-- <div [hidden]='propertyTest.valid || propertyTest.untouched' class='alert alert-danger'>Enter Avalid Name</div> -->
      <div [hidden]='!form.submitted || propertyTest.valid' class='alert alert-danger'>Enter Avalid Name</div>
    </div>

    <div class="form-check  mb-3">
      <input class="form-check-input" type="checkbox" value="" name='emailOffers' id="email-offers"
        [(ngModel)]="userSettings.emailOffers" required>
      <label class="form-check-label" for="email-offers">
        Email Offers
      </label>
    </div>
    <div class="mb-3">
      <p>{{userSettings.interfaceStyle || 'null'}}</p>

      <div class="btn-group">
        <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" btnRadio="Light" tabindex="0"
          role="button" name="interfaceStyle" id="interfaceStyle1">Light</label>
        <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" btnRadio="Medium" tabindex="0"
          role="button" name="interfaceStyle" id="interfaceStyle2">Medium</label>
        <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" btnRadio="Dark" tabindex="0"
          role="button" name="interfaceStyle" id="interfaceStyle3">Dark</label>
      </div>

    </div>
    <button type="button" class="btn btn-primary" [(ngModel)]="singleModel" name="singleModel" btnCheckbox
      [btnCheckboxTrue]="true" [btnCheckboxFalse]="false">
      {{singleModel}}
    </button>
    <select class="form-select form-group form-select-sm mb-3" aria-label=".form-select-lg example"
      name='subscriptionType' [(ngModel)]="userSettings.subscriptionType">

      <option *ngFor="let type of subscriptionTypes | async">{{type}}</option>
    </select>
    <div class="mb-3">
      <label for="notes" class="form-label">Notes</label>
      <textarea class="form-control" id="notes" rows="3" name='notes' [(ngModel)]="userSettings.notes"></textarea>
    </div>
    <div class="alert alert-danger" [hidden]="!postError && form.invalid">{{postErrorMessage}}</div>


    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
        <input type="text" placeholder="Datepicker" class="form-control" [(ngModel)]='startDate' name='startDate'
          bsDatepicker>
      </div>
      <!-- <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
        <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker>
      </div> -->
      <timepicker name="mytime" [(ngModel)]="mytime"></timepicker>
      <pre class="alert alert-info">Time is: {{mytime}}</pre>
    </div>

    <div class="form-group">
      <rating name="userRate" [(ngModel)]="userRate" [max]="maxRating" [readonly]="isReadonly"
        (onHover)="hoveringOver($event)" (onLeave)="resetStar()" [titles]="['one','two','three']"></rating>
      <p>userRating : {{userRate}}</p>
    </div>

    <button class="btn btn-primary">Send</button>
  </form>
</div>
{{userSettings | json}}